.posts-expand .post-block:not(:first-child) {
  margin-top 60px;
}

.post-block {
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.post-block:hover {
  padding: 25px;
  -webkit-box-shadow: 2px 2px 10px rgba(202, 203, 203, .5);
  -moz-box-shadow: 2px 2px 10px rgba(202, 203, 204, .5);
}
